.nav-wrapper{
    background-color: rgb(20,61,86);
    padding-left: 15px;
    font-family: 'Fjord One', serif;
}

.main{
    background-color: rgb(0,0,0,0.5);
    border-radius: 20px;
    color: white;
    margin-top: 25px;
    text-align: center;
    font-family: 'Fjord One', serif;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.home-submit{
    color: white;
    margin-bottom: 5px;
}
#main{
    margin: 50px;
    height: 500px;
    overflow: scroll;
}
.really{
    font-family: 'Niconne', cursive;
}
li:hover{
background-color: rgb(162,205,185);
}
footer{
    background-color: rgb(20,61,86);
    margin-top: 100px;
    padding-bottom: 50px;
}